@import url("./global.css");

/* Header */

.header {
    width: 100%;
    height: 32.487rem;
    margin-top: 3.125rem;
    padding: 6.25rem 0 18.75rem;
}

.header-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 2.5rem;
}

.header_channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.header_channel {
    object-fit: contain;
  }

.header_title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.header_title-light {
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}

.divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
  }

.offer {
    text-align: center;
    font-size: 1.25rem;
}

.offer p {
    margin: auto;
}

.offer_price {
    font-size: 2.5rem;
    font-weight: bold;
    margin: -1.5rem 0;
}

.offer_price-small {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.text-small {
    width: 18.75rem;
    height: 2.5rem;
    text-align: center;
    margin-top: 0;
}

/* Main */

main {
    width: 100%;
    height: 134.171rem;

    background-color: yellow;
}

/* Footer */

.footer {
    width: 72rem;
    height: 9.837rem;
    margin: 0 10rem;
    padding: 1.5rem;

    background-color: gray;
}