@import url("./global.css");

/* Header */

.header {
    width: 100%;
    height: 32.487rem;
    margin-top: 3.125rem;
    padding: 6.25rem 0 18.75rem;
}

.header-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 2.5rem;
}

.header_channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.header_channel {
    object-fit: contain;
  }

.header_title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.header_title-light {
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}

.divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
  }

.offer {
    text-align: center;
    font-size: 1.25rem;
}

.offer p {
    margin: auto;
}

.offer_price {
    font-size: 2.5rem;
    font-weight: bold;
    margin: -1.5rem 0;
}

.offer_price-small {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.text-small {
    width: 18.75rem;
    height: 2.5rem;
    text-align: center;
    margin-top: 0;
}

/* Main */

main {
    width: 100%;
    height: 134.171rem;
}

/* Subscription */

.subscription {
    background: url(../imgs/background-movies-series.png) no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.subscription_plans {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 2.5rem 0;
    perspective: 125rem;
    perspective-origin: top;
}

 .subscription_card {
    background: var(--card-bg-color);
    padding: 2.5rem 3.75rem;
    border-radius: 0.5rem;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
}

.subscription_plan {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.subscription_price {
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
}

.subscription_price .text-small {
    font-size: 1rem;
    color: var(--text-color);
}

.subscription_description {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 0.875rem;
    padding-left: 0.875rem;
}

.subscription_description::marker {
    content: "+";
    font-size: 2rem;
    margin-right: 0.5rem;
  }

/* Footer */

.footer {
    width: 72rem;
    height: 9.837rem;
    margin: 0 10rem;
    padding: 1.5rem;
}